<div id='metadata'>
	<h1 id='boardName'><a href='/boards'>boards /</a> <%= title %></h1>
	<dl>
		<!-- <dt class='modifier'>Last modified by</dt>
		<dd class='modifier'></dd> -->
		<dt class='modified'>Last modified:</dt>
		<dd class='modified'></dd>
	</dl>

</div>
<div id='controls'>
	<a href='#' class='addCategory'>new category</a>
	<a href='#' class='add' title='Add a new card to the board'>new card</a>
</div>
<div id='board'></div>
<h3>Dustbin</h3>
<ul id='dustbin'></ul>
<h3>Options</h3>
<ul>
	<li><a href="#" id='delete'>Delete this board (careful...!)</a></li>
	<li><a href="#" id='toggleImport'>Import/Export</a></li>
</ul>


<div id='dataSource'>	
	<textarea id='json'></textarea>
	<a href="#" id='import'>Import</a>
</div>

<script type="text/javascript" charset="utf-8"> 
	
	var data = <%- data %>;
	var uri = "/boards/foo/json";
	
</script>
